@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@mixin border-styles($color: $primary-color) {
  border: 1px solid $color;
}

@mixin text-styles($size, $weight: normal, $color: $primary-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin mobile-styles {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// Variables
$primary-color: white;
$bg: #1e1c1c;
$name: red;
$link-color: red;
$input-border-radius: 15px;
$margin: 2%;
$margin-top: 6%;
$margin-between-sections: 20px;
$padding-search-form-horizontal: 40px;
$padding-search-form-vertical: 8px;
$padding-platform-filter-horizontal: 20px;
$padding-platform-filter-vertical: 10px;
$padding-show-more: 20px;
$expletus-sans-font: "Expletus Sans", sans-serif;

// Styles
body {
  @include text-styles(1em); // Utilisation du mixin text-styles
  background-color: $bg;
  margin: $margin;
  font-family: $expletus-sans-font;
}

.name {
  color: $name;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $name;
  }

  &:visited {
    color: $name;
  }

  h1 {
    font-size: 3em;
    margin: 0;
  }
}

#search-form {
  input[type="text"] {
    padding: $padding-search-form-vertical $padding-search-form-horizontal $padding-search-form-vertical 5px;
    border-radius: $input-border-radius;
    @include border-styles; // Inclusion du mixin border-styles
    background-color: $bg;
    margin-top: $margin-top;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: $margin;
}

.hero h1 {
  font-size: 3em;
}

.hero p {
  font-size: 1.2em;
}

#platformFilter {
  padding: $padding-platform-filter-vertical $padding-platform-filter-horizontal $padding-platform-filter-vertical 10px;
  background-color: $name;
  color: $primary-color;
  border: none;
}

.cardGame {
  $card-margin: calc(33.33% - 20px);

  width: $card-margin; 
  margin-right: $margin-between-sections; 
  margin-bottom: $margin-between-sections;
  position: relative; 
  float: left; 
  height: 300px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  .game-image {
    width: 100%;
    height: 60%; 
    object-fit: cover; 
  }

  h1, p, a {
    margin: 10px;
  }

  h1 {
    font-weight: bold;
    font-size: 1.4em;
  }
}

.show-more {
  display: block;
  margin: $padding-show-more auto;
  padding: 10px 40px;
  background-color: $name;
  color: $primary-color;
  border: none;
  cursor: pointer;
  clear: both;
  font-weight: bold;
}

.show-more.hide {
  display: none;
}

.footer {
  hr {
    border: none;
    height: 6px;
    background-color: $name;
    margin: 10px 0; 
    font-weight: bold;
    width: 8%;
  }

  p {
    font-size: small;
  }
}

//Page Details
.page-detail {
  position: relative;

  .article {
    position: relative;

    .background-image {
      position: relative;
      display: block;
      width: 100%;
    }
  }
}

.pic {
  position: relative;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .website {
    position: absolute;
    justify-content: end;
    top: 90%;
    left: 90%;
    margin: 20px auto;
    padding: 10px 60px;
    background-color: $name;
    color: $primary-color;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .website a {
    text-decoration: none;
    color: $primary-color;
  }
}


.header {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 4em;
}

.header p {
  margin-top: 6.5%;
  font-size: 2em;
  font-weight: bold;
  color: $name;
}

.trailers {
  width: 100%;
  box-sizing: border-box;
  iframe {
    width: 100%;
    height: 600px;
  }
}

.screenshots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $margin-between-sections;
}

.screenshots img {
  width: 100%;
  height: auto; 
  display: block;
}

.name-details {
  font-size: 2.5em;
  font-weight: bold;
  color: $name;
}

#first {
  display: flex;
  justify-content: space-between;
  margin-top: $margin-between-sections;
}

#second {
  display: flex;
  flex-direction: column;
  margin-top: $margin-between-sections;
}

#second p {
  margin: 0;
}

.position-details {
  display: flex;
  flex-direction: column;
}

.position-details .mini-details,
.position-details .release-date,
.position-details .developers,
.position-details .platforms,
.position-details .publishers,
.position-details .genres {
  margin: 0;
}

.stores a {
  display: block;
  margin-bottom: 10px; // Espacement entre les liens
}

a.internal-link {
  text-decoration: none; // Supprimer le soulignement par défaut
  color: $primary-color; // Couleur du lien
  
  &:hover {
    position: relative; // Définir la position relative pour le pseudo-élément
    text-decoration: none; // Supprimer le soulignement par défaut lors du survol
    
    &:before {
      content: ''; // Ajouter un contenu au pseudo-élément
      position: absolute; // Définir la position absolue par rapport au lien
      width: 100%; // Définir la largeur à 100% du lien parent
      height: 2px; // Définir la hauteur du soulignement
      bottom: 0; // Positionner le soulignement en bas
      left: 0; // Positionner le soulignement à gauche
      background-color: $name; // Couleur du soulignement
      transform-origin: left; // Définir l'origine de la transformation à gauche
      transform: scaleX(0); // Initialiser l'échelle horizontale à 0 (aucun soulignement)
      transition: transform 0.5s ease; // Ajouter une transition pour l'animation
    }
    
    &:hover:before {
      transform: scaleX(1); // Mettre à l'échelle horizontale à 1 (soulignement complet)
    }
  }
}

.store-link {
  text-decoration: none; // Supprimer le soulignement par défaut
  color: $primary-color; // Couleur du lien

  &:hover {
    position: relative; // Définir la position relative pour le pseudo-élément
    text-decoration: none; // Supprimer le soulignement par défaut lors du survol
    
    &:before {
      content: ''; // Ajouter un contenu au pseudo-élément
      position: absolute; // Définir la position absolue par rapport au lien
      width: 4%; // Définir la largeur à 100% du lien parent
      height: 2px; // Définir la hauteur du soulignement
      bottom: 0; // Positionner le soulignement en bas
      left: 0; // Positionner le soulignement à gauche
      background-color: $primary-color; // Couleur du soulignement
      transform-origin: left; // Définir l'origine de la transformation à gauche
      transform: scaleX(0); // Initialiser l'échelle horizontale à 0 (aucun soulignement)
      transition: transform 0.5s ease; // Ajouter une transition pour l'animation
    }
    
    &:hover:before {
      transform: scaleX(1); // Mettre à l'échelle horizontale à 1 (soulignement complet)
    }
  }
}


#pageContent {
  margin-top: $margin-between-sections;
}


